<ul id="social-media">
    <li>
        <a class="youtube" href="http://www.youtube.com/wikitongues">
            <%= image_tag(image_path("youtube.svg"))%>
        </a>
    </li>
    <li>
        <a class="facebook" href="http://www.facebook.com/wikitongues" target="_blank">
            <%= image_tag(image_path("facebook.svg"))%>
        </a>
    </li>
    <li>
        <a class="twitter" href="http://www.twitter.com/wikitongues" target="_blank">
            <%= image_tag(image_path("twitter.svg"))%>
        </a>
    </li>
    <li>
        <a class="tumblr" href="http://wikitongues.tumblr.com" target="_blank">
            <%= image_tag(image_path("tumblr.svg"))%>
        </a>
    </li>
    <li>
        <a class="instagram" href="http://www.instagram.com/wikitongues" target="_blank">
            <%= image_tag(image_path("instagram.svg"))%>
        </a>
    </li>
</ul>
            